
.button{
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 20px;
}

.square{
  background-color: red;
  padding: 30px;
}

.legend{
  color: greenyellow;
}